<div class="row">
  <div class="col-sm-12">
    <img [src]="selectedReceipeDetails.imagePath" [alt]="selectedReceipeDetails.name" class="img-thumbnail"
      style="max-height:50vh;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1>{{selectedReceipeDetails.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="btn-group" appdropdown>
      <button class="btn-primary btn btn-sm dropdown-toggle" id="#navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">Manage<span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" (click)="onAddingShoppingListToIngredient()">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Fetch Data </a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    {{selectedReceipeDetails.description}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedReceipeDetails.ingredient ">
        {{ingredient.name}}-{{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>